* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1800px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(159px, auto);
  row-gap: 1em;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
}

#root {
  width: 100%;
  height: 100%;
  background-color: white;
}

.carousel-word {
  transition: opacity 0.5s;
}

.text-reader {
  margin: 1em auto;
  padding: 1em 2.5em;
}
.text-reader-container {
  display:flex;
  justify-content: center;
  align-items: center;

}
